<div class="container">
  <div class="login-body">
    <h3>Login Here</h3>
    <div class="login-form">
      <form>  
        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username" [(ngModel)]="Users.userName" [ngModelOptions]="{standalone:true}">
  
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" [(ngModel)] = "Users.password" [ngModelOptions]="{standalone:true}">
  
        <button>Log In</button>
      </form>
    </div>
  </div>
</div>